au-select {
    display: inline-block;
}

.select__select {
    display: none;
}

.select__fauxSelect {
    border: 1px solid #DEDEDE;
    cursor: pointer;
    padding: 15px;
}

    .select__fauxSelect__arrow {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.select__list {
    background: #FFF;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.select__list__item {
    border-bottom: 1px solid #DEDEDE;
    padding: 8px;
}

.select__list__value {
    display: block;
    text-decoration: none;
}

.select__list--hidden {
    height: 0;
}

.select__list--visible {
    height: auto;
}

.select__list__search {

}

.select__list__search__input {
    background: #FFF;
    border: 1px solid #DEDEDE;
    display: block;
    margin: 8px;
    padding: 10px;
    width: calc(100% - 16px);
}
